.risultati {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    gap: 20px; 
}

.episodi, .stagioni {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-y: auto;
    background-color: blue;
    margin-bottom: 20px;
}

.card-stagione {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: auto; /* Scrolling verticale se necessario */
}
.card-stagione.collapsed {
    max-height: 300px; /* Altezza massima della card stagione */
}

.card-stagione.expanded {
    max-height: 500px; /* Altezza estesa della card stagione per visualizzare episodi */
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    overflow-y: auto; /* Scrolling verticale se necessario */
    margin-left: 0%;
    margin-right: 0%;
    background-color: black; 
}





