body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.userSearchResult:hover {
    font-size: larger !important;
}

.commentDiv {
    max-height: 200px;
}

.card img {
    max-width: max-content;
}

.card a {
    text-decoration: none;
    color: black;
}

.card p {
    font-size: small;
}

.menu a {
    text-decoration: none;
    color:white;
}

.menu a:hover {
    padding: 2px;
    font-size: large;
}

.menu a.active {
    font-size: larger;
    color: yellow;
}