body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.userSearchResult:hover {
    font-size: larger !important;
}

.commentDiv {
    max-height: 300px !important;
}

.card a {
    text-decoration: none;
    color: black;
}

.card p {
    font-size: small;
}

.commentReplyOpen {
    font-size:x-small;
}

.menu a {
    text-decoration: none;
    color:white;
}

.menu a:hover {
    padding: 2px;
    font-size: large;
}

.menu a.active {
    font-size: larger;
    color: yellow;
}

header {
    text-align: center;
}

header > img{
    width: 23%;
}



header > p {
    text-align: center;
    color: #22629e;

}

table {
    border: 1px solid;
    margin-left: 20%;
    height: 80px;
    width: 20%;
    display: inline-table;
    margin-top: 4%;

}

tr > td{
    text-align: center;
}

div > img {
    width: 10%;
    height: 20%;

}


 h6 p {
    color: black;
    text-justify: auto;
    width: 32%;
}